/* This is the css file which is backbone of our Product sliders */
.slideshow {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 350px;
}

.slide img {
     width: 300px;
     height: 280px;
    }

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 24px 0;
    list-style-type: none;
    }

.slick-dots li {
    margin: 0 4px;
    }

.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
}

.slick-dots li button:before {
    font-size: 15px;
}

.slick-dots li.slick-active button {
    background-color: blue;
    }

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slider {
    text-align: center;
}

.Main_container {
    display: inline-flex;
}

.slick-dotted.slick-slider {
    border-radius: 20px;
    margin-bottom: 30px;
    margin: 22px;
    overflow: hidden;
}
